GHES_NAME                              = ""
GHES_HOSTNAME                          = ""
AZURE_SUBSCRIPTION_ID                  = ""
AZURE_REGION                           = "West Europe"
AZURE_STORAGE_ACCOUNT_TIER             = "Standard"
AZURE_STORAGE_ACCOUNT_REPLICATION_TYPE = "LRS"
AWS_REGION                             = "eu-north-1"
AWS_OIDC_THUMBPRINT                    = ""
GCP_PROJECT_ID                         = ""
GCP_REGION                             = "EUROPE-WEST4"
